[Unit]
Description=IoT Dashboard React Frontend
After=network.target

[Service]
Type=simple
User=bokweihong
WorkingDirectory=/home/bokweihong/IoT_Dashboard/client
ExecStart=/usr/bin/npm run build
Restart=on-failure
Environment=NODE_ENV=development

[Install]
WantedBy=multi-user.target
